<!DOCTYPE html>
<html>
<head>
    <title>Input Form</title>
    <link href="../static/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<h1>Data Entry Form</h1>
<form id="dataForm">
    <label for="fromDate">From Date (yyyy-MM-dd):</label>
    <input id="fromDate" name="fromDate" pattern="\d{4}-\d{2}-\d{2}" required type="date" value="2019-01-01">

    <label for="toDate">To Date (yyyy-MM-dd):</label>
    <input id="toDate" name="toDate" pattern="\d{4}-\d{2}-\d{2}" required type="date" value="2019-02-01">

    <label for="hsCode">HS Code:</label>
    <input id="hsCode" name="hsCode" type="text">

    <label for="country">Country:</label>
    <select id="country" name="country">
        <!-- Add more countries as needed -->
    </select>
    <label for="importer">Importer:</label>
    <input id="importer" name="importer" type="text">
    <label for="supplier">Supplier:</label>
    <input id="supplier" name="supplier" type="text">

    <input type="submit" value="Submit">
</form>
</body>
<!-- Link the external JavaScript file -->
<script src="../static/script.js"></script>
</html>
